.roundedTextItemIcon,
.roundedTextItemIconRTL {
    cursor: default;
}

.roundedTextItem,
.roundedTextItemRTL,
.roundedTextItemFocused,
.roundedTextItemFocusedRTL,
.roundedTextItemDisabled,
.roundedTextItemDisabledRTL,
.roundedTextItemDisabledHint,
.roundedTextItemDisabledHintRTL,
.roundedTextItemError,
.roundedTextItemErrorRTL,
.roundedTextItemHint,
.roundedTextItemHintRTL {
    border: 1px solid #888;
    padding: 4px 4px 4px 3px;
    font: 11px Arial, Verdana, sans-serif;

    /* Apply text-overflow:ellipsis for browsers that support text-overflow on <input>
       elements.
       Opera was the only major browser to prefix text-overflow. However, -o-text-overflow
       is omitted here because Opera Presto does not support text-overflow on <input>s. */
    text-overflow: ellipsis;
}

/* Hide IE10+'s clear button - we have our own.
   http://support.microsoft.com/kb/2813492 */
.roundedTextItem::-ms-clear,
.roundedTextItemRTL::-ms-clear,
.roundedTextItemFocused::-ms-clear,
.roundedTextItemFocusedRTL::-ms-clear,
.roundedTextItemDisabled::-ms-clear,
.roundedTextItemDisabledRTL::-ms-clear,
.roundedTextItemDisabledHint::-ms-clear,
.roundedTextItemDisabledHintRTL::-ms-clear,
.roundedTextItemError::-ms-clear,
.roundedTextItemErrorRTL::-ms-clear,
.roundedTextItemHint::-ms-clear,
.roundedTextItemHintRTL::-ms-clear {
    display: none;
}
